/* -- ASPxSpellChecker -- */
#dxMainSpellCheckFormTable .buttonsCell,
#dxMainSpellCheckOptionsFormTable .buttonsCell
{
	border-top: 1px solid #abacb9;
}
.dxwscLoadingDiv_ClinicalStudyTheme
{
	background-color: #ffffff;
	opacity: 0.01;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxwscLoadingPanel_ClinicalStudyTheme
{
	font-size: 92%;
	color: #706c70;
	background-color: White;
	border: 1px solid #c5c4c5;
	border-bottom-color: #9c9a9c;
	
	border-collapse: separate!important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 1px 1px 1px #e5e5e5;
	-moz-box-shadow: 1px 1px 1px #e5e5e5;
	box-shadow: 1px 1px 1px #e5e5e5;
	
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.dxwscLoadingPanel_ClinicalStudyTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 17px;
	height: 66px;
}

.dxwscCheckedTextContainer_ClinicalStudyTheme
{
	background-color: white;
	font-size: 11px;
	font-family: Verdana;
	border: 1px solid #9da0aa;
	vertical-align: top;
	overflow: auto;
	height: 110px;
	width: 340px;
	padding: 5px;
}
.dxwscErrorWord_ClinicalStudyTheme 
{
	background: url('<%=WebResource("ClinicalStudyThemeAssembly.App_Themes.ClinicalStudyTheme.SpellChecker.scErrorUnderline.gif")%>') repeat-x left bottom;
	padding-bottom: 3px;
	color: #201f35;
	font-weight: bold;
}

/*-- Dialog Forms --*/
.leftBottomButton
{
    padding: 12px 0;
    text-align:right;
}
.rightBottomButton 
{
	padding: 10px 12px 10px 10px;
	width: 100px;
}
.dxwsc-rtl .rightBottomButton 
{
	padding: 10px 10px 10px 12px;
}
.footerBackground 
{
	background-color: #ebecef;
}

#dxMainSpellCheckFormTable .contentSCFormContainer
{
	padding: 9px 12px 0px;
}
#dxMainSpellCheckOptionsFormTable .contentSCOptionsFormContainer
{
	padding: 12px 12px 0px;
}
#dxSpellCheckForm .listBoxContainer
{
	padding-top: 5px;
	padding-bottom: 12px;
}
#dxOptionsForm .languagePanel
{
	padding-top: 10px;
	padding-bottom: 12px;
}
