@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Old Browser</title>
	</head>
	<body style="background-color:#86CFC6">
		<h2>Sorry, this Web Application currently does not support Internet Explorer 6</h2>
        
        <p>Please consider to update your Web Browser to examine this demo.</p>
	</body>
</html>

