@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LoggedUsersLayout.cshtml";
}

<h2>Error</h2>
<p>
	Error happened during data processing. Our technical specialist will start working on the problem soon.
</p>
<p>
	
    Sorry for inconvenience.
</p>
    

@section AdditionalElementsSection {
	
}

@section LeftNavigationColumn{

}

@section RightNavigationSideBar {
	
}
